.App {
  text-align: center;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App > header {
  margin-bottom: 5vh;
}

.App > section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.App > section > canvas {
  border:1px solid grey;
  box-shadow: grey 0 3px 3px;
  background-color: #eee;
}

.App > section > .player {
  margin: 0 3vw;
}

.App > footer {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App > footer img {
  width: 3vw;
  height: 3vw;
}

.App > footer button {
  margin-left: 2vw;
}